.bgImageOurServices1 {
  position: relative;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/OurServices/ourservices1.jpg');
    
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.bgImageOurServices3 {
  position: relative;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/OurServices/ourservices3.png');
    
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}


.bgImageOurServices4 {
  position: relative;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/OurServices/ourservices4.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.bgImageOurServices5{
  position: relative;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/OurServices/ourservices5.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.bgImageOurServices6{
  position: relative;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/OurServices/ourservices6.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.bgImageOurServices7{
  position: relative;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/OurServices/ourservices7.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .bgImageOurServices1,
  .bgImageOurServices3,
  .bgImageOurServices4,
  .bgImageOurServices5,
  .bgImageOurServices6,
  .bgImageOurServices7 {
    border-radius: 50px;
  }
}

/* Gradient border that doesn't affect background */