.gradient-border {

}
.navbarLinks {
  font-size: 1rem;
  
}

.navbarLinks:active {
  border: 0.125rem solid #77BD74;
  
}
.navParent {
  gap: 1.5rem;
  opacity: 1;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  /* padding-right: 2.5rem;
padding-left: 2.5rem; */
}