.footerBg {
  position: relative;
  margin: 30px;
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-left: 60px;
  border-radius: 20px;
  background: linear-gradient(270deg, #0F102E 0%, #0F102E 70.67%, #0F102E 84.13%, #0F102E 97.12%);
  z-index: 0;
}

.footerBg::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: linear-gradient(270deg, #0F102E 0%, #303394 15.38%, #303394 45.19%, #0F102E 95%);
  opacity: 0;
  transition: opacity 0.8s ease;
  z-index: -1;
}

.footerBg:hover::before {
  opacity: 1;
}