.bgImage {
  position: relative;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/Portfolio/bgImage.jpg');
    
  background-position: left left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}